.header

{
  padding: 40px; /* some padding */
  text-align: center; /* center the text */
  background: #000000; /* green background */
  color: white; /* white text color */

}

.header h1
{
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: red; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: right; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */

  /* Right-aligned link */
}

.navbar a.mid-right {
  float: right; /* Float a link to the right */
}

.navbar a.home {
    float:left;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: white; /* Grey background color */
  color: black; /* Black text color */
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 75%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

.footer {
  padding: 10px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */
  position:absolute; bottom: 0; width:100%;
}